h1 {
    color : white;
    font-size : 40px;
    font-family : Comic;
    font-style : italic;
    background-color : #5F9EA0;
    height : 50px;
    border-style : solid;
    border-width : 2px;
    border-color : #399284;
    text-align : center;
    padding : 10px;
}

h2 {
    font-size : 34px;
    text-align : center;
    font-family : Verdana;
    text-shadow : 5px 5px 9px;
    float : none;
    border-style : dashed;
    border-color : #2F4F4F;
    margin-left : 40px;
    margin-right : 40px;
    padding-bottom : 15px;
}


main {
    background-color : #008080;
}

div p {
    text-decoration : underline;
    font-size : 26px;
    font-weight : bold;
    font-family : Arial;
    margin-left: 5px;
	margin-bottom: 25px;
}

li {
    list-style-type : decimal;
}

ul {
    font-size : 16px;
    font-family : Arial;
}

footer {
    font-size : 16px;
    font-family : Verdana;
    background-color : #B0C4DE;
    text-align: center;
    padding-bottom : 8px;
}