header {
    background-image : url("diamond_upholstery_@2X.png");
    
}

h1 {
    color : #00BFFF;
    font-size : 40px;
    font-family : Comic;
    font-style : italic;
    text-align : center;
}

h2 {
    text-align : right;
    font-family : Verdana;
    text-shadow : 5px 5px 9px;
}

a img {
    margin-right : 10px;
    margin-top : 20px;
    margin-bottom : 30px;
    width : 35%;
    float : left;
}


main {
    background-image: url("shattered.png);
}

h3 {
    text-decoration : underline;
    font-size : 26px;
    font-weight : bold;
    font-family : Arial;
    margin-left: 5px;
	margin-bottom: 25px
}

section {
    clear: both;
    margin : 10px;
    height : 960px;
}

li {
    list-style-type : decimal;
}

ul {
    font-size : 12px;
    font-family : Arial;
}

footer {
    font-size : 16px;
    font-family : Verdana;
    background-image : url(noise_pattern_with_crosslines_@2X.png);
    text-align: center;
    padding-bottom : 8px;
}

.conteneur {
    padding : 10px;
    margin : 15px;
}
